.textarea {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.textarea:focus {
  outline: none;
  border-color: rgba(42, 131, 214, 0.27);
  transition: border-color 0.15s ease-in-out;
}
.textarea::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.textarea-inverted {
  background-color: rgba(247, 247, 247, 0.397);
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.textarea-inverted:focus {
  border-color: rgba(6, 98, 219, 0.795);
  transition: border-color ease-in-out 300ms;
}
